  <!-- Page Content -->
<br>
<br>
  <div class="container">
 
    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">14.000 productos</h2>
              <hr>
              <p class="card-text">Además contamos con una planta de fabricación donde producimos mas de 1.200 artículos propios.<br></p>
            </div>
            <div class="card-footer">
              <a [routerLink]="['categorias']" class="btn btn-primary btn-sm">Ver Catálogo</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Servicio del cliente</h2>
              <hr>
              <p class="card-text">Ofrecemos atención personalizada, el asesoramiento de un experimentado cuerpo de ventas y estacionamiento gratuito en el Paseo La Plaza con ingreso por Av.Corrientes 1660 o Sarmiento 1645</p>
            </div>
<!--             <div class="card-footer">
              <a href="#" class="btn btn-primary btn-sm">More Info</a>
            </div> -->
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Trabajos especiales</h2>
              <hr>
              <p class="card-text">Asimismo contamos con un plantel de artesanos dedicados a la reparacion de herrajes y realización de trabajos especiales</p>
            </div>
<!--             <div class="card-footer">
              <a href="#" class="btn btn-primary btn-sm">More Info</a>
            </div> -->
          </div>
        </div>
        <!-- /.col-md-4 -->
  
      </div>
      <!-- /.row -->
<div class="row" >
    <br>
    <div class="col-12">
        <div class="card  h-100">
            <div class="card-body">
            <ul>
            <li><span >Taller de Galvanoplastia ( baños en niquelado, platíl satinado, florentino, lacas horneadas,etc)</span></li>
            <li><span >Fundición a la cera perdida</span></li>
            <li><span >Fundición verde</span></li>
            <li><span >Herrajes en acero inoxidable</span></li>
            </ul>
        </div>
        </div>
    </div>
    <br>
</div>
<br>

<div class="row" style="background-color: honeydew;">
  
    <div class="card  h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h2>Trayectoria</h2>
                    <p>Un recuerdo de nuestros inicios</p>
                    <ul>
                        <li>
                        <strong>Bootstrap v4</strong>
                        </li>
                        <li>jQuery</li>
                        <li>Font Awesome</li>
                        <li>Working contact form with validation</li>
                        <li>Unstyled page elements for easy customization</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                </div>
                <div class="col-6">
                    <img class="img-fluid rounded" height="500px" width="250" src="../../../assets/22-screen_facturaelectronica.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
</div>