<div class="row"  style="background-color: honeydew;">
    <div class="col-9">
        <h3>Categoria Seleccionada: <b>{{categoriaNombre}}</b></h3>
        <small>Productos por categoria</small>
    </div>
    <div class="col-2">
        <button (click)="goBack()" class="btn btn-primary" type="button">Volver A Categorias
        </button>
    </div>
    <div class="col-1"></div>
</div>
<div class="row align-items-center"  style="background-color: honeydew;">
<div class="col-12">
<table class="table table-sm">
    <THEAD>
        <TH>Foto</TH>
        <th>Producto</th>
    </THEAD>

    <tbody>
        <tr *ngFor="let unProducto of allProductos">
            <!-- <div *ngIf="unProducto.category_id=='1' "> -->
            <td *ngIf="unProducto.category_id=='1' "><img src="../../../assets/product/{{unProducto.product_thumb_image}}" alt=""></td>
            <td *ngIf="unProducto.category_id=='1' ">{{ unProducto.product_name}}<br><small>{{ unProducto.product_s_desc}}</small></td>
            <!-- </div> -->

        </tr>
    </tbody>

</table>
<br>
<br>
</div>
</div>