<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<tr>
    <td colspan="2" class="content-center">


        <button (click)="goBack()" class="btn btn-primary" type="button">            Volver A Categorias
        </button>

    </td>
</tr>
<h3>Categoria Seleccionada: </h3>
<small>Productos por categoria</small>

<table class="table table-sm">

    <THEAD>
        <TH>Foto</TH>
        <th>Producto</th>
    </THEAD>

    <tbody>
        <tr *ngFor="let unProducto of allProductos">
            <!-- <div *ngIf="unProducto.category_id=='1' "> -->
            <td *ngIf="unProducto.category_id=='1' "><img src="../../../assets/product/{{unProducto.product_thumb_image}}" alt=""></td>
            <td *ngIf="unProducto.category_id=='1' ">{{ unProducto.product_name}}<br><small>{{ unProducto.product_s_desc}}</small></td>
            <!-- </div> -->

        </tr>
    </tbody>

</table>