<footer id="ubicacion" class="footer bg-dark text-center">
<div class ="container" style="color:mintcream">
    <div class="row">
        <div class="col-4">
            <div id="sppb-addon-1575309543247" class="clearfix">
                <div class="sppb-addon sppb-addon-text-block  ">
                    <h3 class="sppb-addon-title">Horario de Atención</h3>
                    <div class="sppb-addon-content">
                        <p class="article ">
                            <span class="readonly plg-desc">Lunes a Viernes de 8 a 19hs.<br> Sábados de 8 a 13hs.<br></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="sppb-addon sppb-addon-text-block  ">
                <h3 class="sppb-addon-title">Contacto</h3>
                <div class="sppb-addon-content">
                    <p class="article ">
                        <span class="readonly plg-desc">Sr. Luis Bavastro<br><br><strong>Teléfono:</strong> 54 11 4382 4422<br><strong>Fax:</strong> 54 11 4382 4422 int 3<br></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h3 class="sppb-addon-title">Dirección</h3><div class="sppb-addon-content"><div class="article ">Sarmiento 1530 -1042 Buenos Aires<br>(<span class="readonly plg-desc">Frente al Centro Cultural San Martin) <br></span></div></div></div></div><div id="sppb-addon-1575309543250" class="clearfix"><div class="sppb-addon sppb-addon-text-block sppb-dropcap  ">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="sppb-addon sppb-addon-text-block  ">
                <h3 class="sppb-addon-title">Medios de Transportes</h3>
                    <div class="sppb-addon-content"><p><strong>Subterraneo</strong><br> Linea A Estación Saenz Peña, Linea B Estación Uruguay, Linea D Estación Tribunales<br><strong>Colectivos</strong><br>5, 6, 7, 8, 12, 23, 24, 26, 29, 37, 39, 50, 59, 60, 64, 67, 75, 98, 99, 102, 105, 106, 109, 111, 115 , 124, 129, 132, 140, 146, 150, 151, 155, 168</p>
                </div>
            </div>
        </div>
            
    </div>
</div>
<div class="row">
    <div class="col">
        
    </div>

</div>
<p style="color: khaki;">
    Ferreteria Artistica ... Arte, Tradición y Servicio. Todos los derechos reservados.
</p>
    <p>
        &copy; fat-ada {{ anio }}
    </p>
</footer>