
<div class="container">
    <div class="row"  style="background-color: honeydew;">

        <div class="col-9">
            <h3>Categorias:</h3>
        </div>
        <div class="col-2 mt-2">
            <button (click)="goBack()" class="btn btn-primary" type="button"> Cerrar
                </button>
        </div>
        <div class="col-1"></div>

            
    </div>
    <div class="row align-items-center" style="background-color: honeydew;">
        <div class="card ml-2 mt-2 animated fadeIn fast" style="width: 8rem;" *ngFor="let una_categoria of categorias">
            <img (click)="verProductos(una_categoria.category_id, una_categoria.category_name)" class="card-img-top" src="../../../assets/category/{{ una_categoria.category_thumb_image }}" alt="{{una_categoria.category_name}}" />
            <!-- <div class="card-body"> -->
            <p class="text-center" (click)="verProductos(una_categoria.category_id, una_categoria.category_name)">{{una_categoria.category_name}}</p>
            <!-- <a href="#" class="btn btn-outline-primary btn-block">Ver mas...</a> -->
            <!-- </div> -->

        </div>
    </div>

</div>