<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <tr>
        <td colspan="2" class="content-center">


            <button (click)="goBack()" class="btn btn-primary" type="button">            Cerrar
            </button>

        </td>
    </tr>

    <div class="row" style="background-color: honeydew;">

        <div *ngFor="let una_categoria of categorias" class="card ml-2 mt-2 animated fadeIn fast" style="width: 8rem;">
            <img (click)="verProductos(una_categoria.category_id)" class="card-img-top" src="../../../assets/category/{{ una_categoria.category_thumb_image }}" alt="{{una_categoria.category_name}}" />
            <!-- <div class="card-body"> -->
            <p class="text-center" (click)="verProductos(una_categoria.category_id)">{{una_categoria.category_name}}</p>
            <!-- <a href="#" class="btn btn-outline-primary btn-block">Ver mas...</a> -->
            <!-- </div> -->

        </div>
    </div>

</div>