<header class="header">
    <link href=' http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

    <div class="row" style="background-color: #2F462B;opacity: 0.95; filter:(opacity=95);">
        <div class="col-5 ml-10 align-self-center">
            <h1>
                <a href="http://localhost/ferreteria/" title="Ferreteria Artistica S.A."><img src="assets/imagenes/logo-left.png" title="Ferreteria Artistica S.A." alt="Herrajes para obras desde 1913..."></a>
            </h1>
        </div>
        <!-- <div class="col-4"><img class="float-right" src="assets/imagenes/logo-100-anios.png" title="Ferreteria Artistica S.A." alt="Herrajes para obras desde 1913..."></div> -->
        <div class="col-6 align-self-center">
            <app-navbar></app-navbar>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: #2F462B;opacity: 0.95; filter:(opacity=95);">
            <h6 class="text-center" style="color: khaki;">Herrajes para obras desde 1913...</h6>
        </div>
    </div>
    <div *ngIf="mostrar">


        <div class="row">
            <div class="col-12 text-center align-self-center">
                <br>
                <br>
                <br>
                <br>
                <p class="especial" style="color: khaki;">1913 - 2013 100 Años</p>
                <br>
                <h3 style="color: khaki;">
                    Ferreteria Artistíca ... Arte, Tradición y Servicio.
                </h3>
                <br>
                <br>

            </div>
        </div>

    </div>




</header>