<nav class=" navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top navbar-custom">

    <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="color: white; ">
                    <a class="nav-link" style="color: white;" [routerLink]="['categorias']">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" [routerLink]="['lineas']">Fabricación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" [routerLink]="['historia']">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">Clientes y Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#ubicacion">Ubicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" (click)="irAcontacto()">Contacto</a>
                </li>


            </ul>
        </div>
    </div>
</nav>